@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Ranchers&display=swap")
@import url("container.css");
@import url("banner.css");
@import url("btn.css");

body{
	font-family:'Krona One', sans-serif;;
	font-size:18px;
}

h1, h2, h3 {
	font-family: 'Ranchers', cursive;
}